h1 {
    font-size: 48px;
    font-family: Play-Regular,sans-serif;
    font-weight: 400;
    color: #282e38;
}
span.blue_span{
    color: #4070f4;
}
.top_toolbar-container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    padding:0px;
}
header.v-toolbar {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom:30px
}
a:link, a:visited {
    color: #282e38;
    text-decoration: none;
}
a:hover{
    color: #4070f4;
}

.main_page_subtitle{
    color: #72819f;
    font-size: 18px;
    font-family: Roboto-Light,sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom:50px;

}